/* Changing the font in the textareas */
.code,
code {
    font-family: system-ui;
    direction: ltr;
    unicode-bidi: embed;
}

/* Style of the toggle button */
.slider-input {
    height: 0;
    width: 0;
    visibility: hidden;
    user-select: none;
}

.slider-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25.5px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    user-select: none;
    float: left;
}

.slider-label:after {
    content: '';
    position: absolute;
    top: 2.562px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.slider-input:checked+.slider-label {
    background: #2271b1;
}

.slider-input:checked+.slider-label:after {
    left: calc(100% - 2.5px);
    transform: translateX(-100%);
}

.slider-label:active:after {
    width: 32.5px;
}

/* Style of the toggle button to switch WhatsApp form */
.slider-input-whatsapp {
    height: 0;
    width: 0;
    visibility: hidden;
    user-select: none;
}

.slider-label-whatsapp {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25.5px;
    background: #0d6efd;
    display: block;
    border-radius: 100px;
    position: relative;
    user-select: none;
}

.slider-label-whatsapp:after {
    content: '';
    position: absolute;
    top: 2.562px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 22.5px;
    transition: 0.3s;
}

.slider-input-whatsapp:checked+.slider-label-whatsapp {
    background: #25d366;
}

.slider-input-whatsapp:checked+.slider-label-whatsapp:after {
    left: calc(100% - 2.5px);
    transform: translateX(-100%);
}

.slider-label-whatsapp:active:after {
    width: 32.5px;
}

/* Animation for missing information */
.missing-information {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* Input type color enhanced */
.color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3rem;
    height: 2rem;
    background-color: transparent;
    border: none !important;
    outline: none;
    cursor: pointer;
}

.color::-webkit-color-swatch {
    border-radius: 0.3rem;
    border: none;
    outline: none;
    border: 0.01rem solid #888888;
}

.color::-moz-color-swatch {
    border-radius: 0.3rem;
    border: none;
    outline: none;
    border: 0.01rem solid #888888;
}

/* Displays as one column*/
.post-type-wp_action_form #poststuff #post-body.columns-2 {
    margin-right: 0;
}

