#adminmenu #menu-posts-form_reach {
    background-color: #1D1D1D;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#adminmenu #menu-posts-form_reach .wp-menu-image:before {
    content: '';
    width: 20px;
    height: 7px;
    display: inline-block;
    margin-top: 10%;
    background-image: url('../image/form-reach-logo.png');
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-size: 85%;
    border: 3px solid #c5b863;
}

.wp-has-submenu ::before {
    box-sizing: unset;
}